<!DOCTYPE html>
<html>
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <th>User_id</th>
                <th>total video play</th>
                <th>total course enrolled</th>
            </tr>
            {% for key,value in log_data.items %}
            <tr>
                <td>{{ key }}</td>
                {% for i in value %}
                    <td>{{ i }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

    </body>
</html>
